<!-- Header -->
<header>
  <header class="header">
    <div class="logo-container">
      <i class="fa-solid fa-car i"></i>
      <div class="logo"> Car Rental</div>
    </div>
<nav class="nav">
  <a href="index.html">Home</a>
  <a href="vehicles.html">Vehicles</a>
  <a href="#">Details</a>
  <a href="#">About Us</a>
  <a href="#">Contact Us</a>
</nav>
<div class="contact-info">
  <div class="icon-circle">
    <i class="fa-solid fa-phone"></i>
  </div>
   Book Now<br/>
  +123 456 7890
</div>
</header>
